---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import '../styles/circuitos.css';
import background from '../assets/fondopilotos.jpg';

const circuitos = (await getCollection("circuitos")).sort((a, b) => a.data.Orden - b.data.Orden);
---
<Layout title="F1 Time 🏎️">
  <img id="background" src={background.src} alt="Fondo de pilotos" fetchpriority="high" />

  <header class="header">
    <div class="title-container">
      <h1>Circuitos</h1>
    </div>

    <button id="menu-icon" aria-label="Abrir menú">☰</button>

    <nav id="menu-items" class="buttons-container">
      <a href="/" class="menu-button">Inicio</a>
      <a href="/pilotos" class="menu-button">Pilotos</a>
      <a href="/escuderias" class="menu-button">Escuderías</a>
      <a href="/puntos" class="menu-button">Puntos</a>
    </nav>
  </header>

  <main>
    <div class="circuitos">
      {
        circuitos.slice(0, 24).map(({ id, data: { Imagen, Titulo } }) => (
          <a href={`/circuitos/${id}`} class="circuito-card" data-id={id}>
            <img src={Imagen} alt={`Imagen del circuito ${Titulo}`} class="circuito-image" />
            <div class="circuito-nombre">{Titulo}</div>
          </a>
        ))
      }
    </div>
  </main>

  <script>
    function initializeMenu() {
        const menuIcon = document.getElementById('menu-icon');
        const menuItems = document.getElementById('menu-items');

        if (menuIcon && menuItems) {
            menuIcon.addEventListener('click', () => {
                // Alternar la visibilidad del menú
                menuItems.style.display = menuItems.style.display === 'flex' ? 'none' : 'flex';
            });
        }
    }

    // Ejecutar la función al cargar la página
    document.addEventListener('DOMContentLoaded', initializeMenu);

    // Reejecutar la función al navegar entre páginas
    document.addEventListener('astro:after-swap', initializeMenu);
  </script>
</Layout>
