---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import '../styles/pilotos.css';
import background from '../assets/fondopilotos.jpg';

const pilotos = await getCollection('pilotos');
---

<Layout title="F1 Time 🏎️">
    <img id="background" src={background.src} alt="" fetchpriority="high" />
    <header class="header">
        <div class="title-container">
            <h1>Pilotos</h1>
        </div>

        <button id="menu-icon">☰</button>

        <div id="menu-items" class="buttons-container">
            <a href="/circuitos" class="menu-button">Circuitos</a>
            <a href="/" class="menu-button">Inicio</a>
            <a href="/escuderias" class="menu-button">Escuderías</a>
            <a href="/puntos" class="menu-button">Puntos</a>
        </div>
    </header>

    <main>
        <div class="pilotos">
            {
                pilotos.map(piloto => {
                    const { id, data } = piloto;
                    const { imgcard, nombre, apellido } = data;

                    return (
                        <a href={`/pilotos/${id}`} class="piloto-card" data-id={id}>
                            <img src={imgcard} alt={`Tarjeta del piloto ${nombre} ${apellido}`} class="piloto-image" />
                            <div class="piloto-nombre">{nombre} {apellido}</div>
                        </a>
                    );
                })
            }
        </div>
    </main>

    <script>
        function initializeMenu() {
            const menuIcon = document.getElementById('menu-icon');
            const menuItems = document.getElementById('menu-items');
    
            if (menuIcon && menuItems) {
                menuIcon.addEventListener('click', () => {
                    // Alternar la visibilidad del menú
                    menuItems.style.display = menuItems.style.display === 'flex' ? 'none' : 'flex';
                });
            }
        }
    
        // Ejecutar la función al cargar la página
        document.addEventListener('DOMContentLoaded', initializeMenu);
    
        // Reejecutar la función al navegar entre páginas
        document.addEventListener('astro:after-swap', initializeMenu);
      </script>
</Layout>